body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  padding: 80px;
  background: #e0e2e4;
  margin: auto;
  width: 960px;
}



.left {
    text-align: left;
    font-size: 20px;
   
  }


 div.absoulute {
    position: absolute;
    top: 10;
    left: 10;
    width: 300px;
    color: white;
    background: #4aaaa5;
    font-size: 1.5em;
    padding: 25px;
    border-bottom-color: gray;

 }
  
a {
    color: gray;
}

.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 30px;

  }
.nav {
    background-color: white;
    list-style-type: none;
    text-align: right;
    margin: 20px;
    padding: 0;
}



h2 {
    color: #00b3b3;
}

  span.c {
    display: block;
    height: 600px;
    padding: 20px;
    border:#cccccc;    
    background-color:white; 
    margin-right: 20px;
  }


footer {
  border-bottom: 30px solid gray;
  border-top: 8px solid #00b3b3;
  
}


